@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Sheriff Mike Hensley is currently serving as Sheriff for Unicoi County. Sheriff Hensley started his career in law enforcement in the 1970's. Sheriff Hensley has served under five sheriff
    administrations in Unicoi County and has worked with the Erwin Police Department being assigned to the 1st Judicial Drug Task Force. Sheriff Hensley served as Captain at the Criminal Investigation
    Division of the Unicoi County Sheriff's Department from 2003 to 2006. He was promoted to Chief Deputy in 2006 until 2010. Sheriff Hensley was reassigned to the Criminal Investigation Division in 2010
    as Investigator and 2nd shift supervisor until his appointment on March 26, 2012.
    <br />
    <br />
    <b>Staff:</b>
    <br />
    Frank Rodgers - Chief Deputy
    <br />
    Craig Masters - Administrative Assistant
    <br />
    Barbara Scalf - Jail Administrator
    <br />
    Ronnie Adkins - Chief Investigator
    <br />
    <br />
    <b>Office Hours:</b>
    <br />
    Administrative Offices: 8:30am - 4:30pm Monday-Friday
    <br />
    Deputies and Corrections Officers on duty 24 hours a day
    <br />
    <br />
    <b>Fees:</b>
    <br />
    Service of Process: $22.00
    <br />
    Service of Subpoena: $7.00
    <br />
    Work Release: $15.00 per day worked
    <br />
    <br />
    <b>Programs Offered by the Department:</b>
    <br />
    Neighborhood Watch Programs
    <br />
    Vial of Life
    <br />
    Senior Citizen Welfare Call Program
</p>
