@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<address>
    1570 Jackson Love Hwy<br />
    P.O. Box 8<br />
    Erwin, TN 37650<br />
</address>

<address>
    <strong>Administration:</strong>423-743-1864<br />
    <strong>Jail:</strong>423-743-1858<br />
    <strong>Communication:</strong>423-743-1850
</address>
