@{
    ViewData["Title"] = "Home Page";
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Unicoi County Police Department</h1>
        </div>
    </div>
}<div class="col-md-4" style="height: 30px;">
     <a class="twitter-timeline" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/TNHighwayPatrol?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Tweets by Tennessee Highway Patrol</a>
     <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> </div>

